@import url('https://fonts.googleapis.com/css?family=Inconsolata');


/* below is my failed atttempt to create a nav bar that dynamically changes if the screensize was to be reduced below 1025px. It does however, contain code that styles the header thus is why it is still existing in the css */

.header {
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

@media (min-width: 769px) {
  .header,
  .nav {
    display: flex;
  }
  .header {
    flex-direction: column;
    align-items: center;
  }
    .header{
      width: 70%;
      margin: 0 auto;
      max-width: 1150px;
  }

}

@media (min-width: 1025px) {
  .header {
    flex-direction: column;
    justify-content: space-between;
  }

}


/* the above was assisted by Sam Norton on codepen although it did not work, it did help create a header for teh title of the website */

body{
  background-color: antiquewhite;
  font-family: 'Inconsolata', monospace;
  padding-bottom: 50px;
  /* originally, when this was created in thimble, the above set the background colour to antiquewhite, however, in studio code, the background colour does not change. I could not find a fix */
}
ul {
  list-style-type: none;
  margin: 0px;
  padding: 10px;
  overflow: hidden;
  background-color: #3443b2;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #1208ff;
}

.active {
  background-color: #1a08f4;
  color: white;
}

.center {
  background-color: #c6d7f8;
  text-align: center;
  border: 3px solid Blue;
  font-family: 'Inconsolata', monospace;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}




/*Form design heavily inspired by W3shools*/ 

.container {
  border-radius: 5px;
  background-color: antiquewhite;
  padding: 20px;
}
/* css below relates to the table layout on the glossary page */

table, th, td {
  border: 1px solid black;
  height: 50px;
  background-color: white;
  word-wrap: break-word;
  table-layout: fixed; 
  width:100%;
}
 /* the CSS code below is related to the dynamic footer of which appears when you hover over the button.*/

 section{
  text-align:center;
}
.footer #button{
  width: 5px;
  height:5px;
  border: #2d37b1 20px solid;
  border-radius: 30px;
  margin:0 auto;
  position:relative;
  -webkit-transition: all 3s ease;
  -moz-transition: all 3s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.footer #button:hover{
  width:35px;
  height:35px;
  border: #7c7cef 12px solid;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  position:relative;
}
.footer {
  bottom:0;
  left:0;
  position:fixed;
  width: 100%;
  height: 2em;
  overflow:hidden;
  margin:0 auto;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  z-index:999;
}
.footer:hover {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  height: 20em;
}
.footer #container{
  margin-top:5px;
  width:100%;
  height:100%;
  position:relative;
  top:0;
  left:0;
  background: #5f52ac;
}
.footer #cont{
  position:relative;
  top:-45px;
  right:190px;
  width:150px;
  height:auto;
  margin:0 auto;
}
.footer_center{
  width:500px;
  float:left;
  text-align:center;
}
  .footer h3{
    font-size: 30px;
    font-weight: 100;
    margin-top:70px;
    margin-left:40px;
    text-decoration: underline
}
    .footer p{
      font-size: 15px;
      font-weight: 10px;
      margin-top:10px;
      margin-left:40px;
  }
/*footer design taken from Codepen and was created during class*/

/* The following Css is related to the comparison page and allows the page to be designated into 3 sections (each section being related to a different job) */

* {
  box-sizing: border-box;
}


/* this part of the CSS allows me to create columns of the same size thus allows  */

.column {
  float: left;
  word-wrap: break-word;
  width: 33.33%;
  padding: 10px;
  height: 700px;
  background-color:#7e7ef0;
  

}
.column {
  float: left;
  word-wrap: break-word;
  width: 33.33%;
  padding: 10px;
  height: 700px;
  background-color:#7e7ef0;
}
/*for some reason, .column would not work unless i entered the same information twice hence why the above may seem redundent */

.column2 {
  float: left;
  word-wrap: break-word;
  width: 33.33%;
  padding: 10px;
  height: 700px;
  background-color:#cbaa7d;
    
}

.column3 {
  float: left;
  word-wrap: break-word;
  width: 33.33%;
  padding: 10px;
  height: 700px;
  background-color:#9ddbae;
  
   
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


@media (max-width: 700px) {
  .column {
    width: 100%;
  }
  .column2 {
    width: 100%;
  }
  .column3 {
    width: 100%;
  }
}
/* The code above is implemented to allow the columns to activly shift on the page if the width of the monitor (i.e if a phone is being used) was reduced to below 600 pixels  */

/* the code below is my attempt to add a image transition on hover As you can see, i had failed in attempting to have a lable appear. I also had to really heavily on the following website to acheive this "https://css-tricks.com/zooming-background-images" */

.right {float: right !important;}
.parent a {
  display: none;
  font-size: 35px;
  color: #e4e5f8;
  text-align: center;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 50px;
  cursor: pointer;
}
.wrapper {
  padding: 50px 50px;
  max-width: 1200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}
.parent {
  width: 45%;
  margin: 20px;
  height: 300px;
  border: 1px solid blue;
  overflow: hidden;
  position: relative;
  float: left;
  display: inline-block;
  cursor: pointer;
}

.child {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.parent:hover .child, .parent:focus .child {
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
  display: block;
}

.parent:hover a, .parent:focus a {
  display: block;
}

.child:before {
  content: "";
  display: none;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(107, 165, 222, 0.75);
}

.BigDrop {
  background-image: url("Photos/Big%20Drop.png");
}
.Oribe {
  background-image: url("Photos/Oribe.png");
}
.Activetheory {
  background-image: url("Photos/Activetheory.png");
}
.Oursroux {
  background-image: url("Photos/Oursroux.png");
}

/* The following media query is realted to the animated images on the "good practice" page. it allows the images to alter position when the screen size is reduced */
@media screen and (max-width: 900px) {
  .parent {width: 100%; margin: 20px 0px}
  .wrapper {padding: 20px 20px;}
}



/* the following is related to te video located on the home page and ensire It did not work however, so i scrapped the idea */
/* 
.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%; 
  overflow: hidden;
}
.video-container video {

  min-width: 100%; 
  min-height: 100%; 

 
  width: auto;
  height: auto;

  
}
*/